table, th, td {
    border: solid 1px rgb(128, 41, 41);
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}

/* L'écriture de classe ou d'id sont au format Kebabcase */

.table-wrapper {
    width: 50%;
}

/* Une classe peut être appelée autant de fois que l'on veut,
l'id on l'utilise qu'une fois */

#table-100w {
    width: 100%;
}

textarea {
    resize: none;
}

.titre_base {
    /* Color: la couleur du texte */
    color: #5f0a10;
    /* text-align: aligment du texte */
    text-align: center;
    /* Couleur de l'arrière plan */
    background-color: #c34949;
    /* Padding : Marge intérieur de l'élément */
    padding: 10px;
    /* text-decoration : soulignage du texte */
    text-decoration: underline;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

/* le > selectionne l'enfant direct de l'élément */
#liste_cours > li {
    /* list-style: none permet la désactivation des puces */
    list-style: none;
    margin-top: 3px;
    margin-bottom: 5px;
    text-decoration: none;
    border: solid 1px #960825;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
    background-color: #4E0110;
}

#liste_cours > li:hover {
    background-color: #c34949;
}

#liste_cours > li > a {
    text-decoration: none;
    color: rgb(251, 232, 232);
}

#liste_cours > li > a:hover {
    background-color: #cd5050;
    color: rgb(82, 27, 27);
}

   /* ___ ___  _   _ ___  ___    ___ ___ ___ 
  / __/ _ \| | | | _ \/ __|  / __/ __/ __|
 | (_| (_) | |_| |   /\__ \ | (__\__ \__ \
  \___\___/ \___/|_|_\|___/  \___|___/___/
                                           */

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.square {
    width: 50px;
    height: 50px;
}

/* Pour faire un cercle en css il faut un carré au départ. */

.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-color-red {
    color: red;
}

/* Si on met une div en inline, sachant que l'inline ne gère
pas la hauteur ni la largeur, on ne la verra pas, l'inline
est utilisé principalement pour du texte. */

.cobaye {
    display: inline;
}

/* L'inline block autorise la hauteur et la largeur, permet
aussi d'accumuler les éléments sur la longueur et de passer
à la ligne quand l'élément n'a plus de place. */

.cobaye2 {
    display: inline-block;
}

/* /!\ le display inline n'accepte que du texte. */

body {
    min-height: 100vh;
}

/*  100vh = 100% de l'écran */

.nav-bar {
    background-color: darkslateblue;
    width: 100%;
    height: 10vh;
    /* Line-height permet au texte à l'intérieur de la div,
    d'être centré verticalement. Il faut mettre la même
    hauteur de la div. (height) */
    line-height: 10vh;
}

.nav-bar-list > li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.nav-bar-list > li > a {
    text-decoration: none;
    color: white;
}

.nav-bar-list > li > a:hover {
    color: orange;
}

.nav-bar-list {
    text-align: start;
}

.parent > p {
    color: green;
}

.all-children-parent p {
    color: red;
}

h4 + p {
    /* Attention le h4 est en gras par défaut */
    /* Pour mettre en gras */
    font-weight: bold;
    color: blue;
}

h5 ~ p {
   font-weight: bold;
    color: orangered;
}

