* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul > li {
    display: inline;
    margin: 20px;
}

.btn > button {
    background-color: rgb(0, 0, 0);
    border: 1px solid orange;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

 